body{
    font-family: 'Roboto Slab', serif;
    background-color:floralwhite;
}

.banner img{
    width: 100%;
    border-radius: 20px;
}

.pilih-liga img{
    max-height: 110px;
}

.pilih-liga .card {
    border-radius: 15px;
}

.products card{
    border-radius: 15px;
} 

.breadcrumb {
    background-color: transparent;
    padding: 0%;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn-dark {
    border-radius: 15px;
}

.gambar-product{
    background-color: #FEFFDC;
    border-width :0;
    border-radius: 30px;
}

.judulnya{
    font-size: 15px;
}

.table-responsive{
    border-radius: 20px;
}